<div id="myCarousel" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("pic3.jpg",alt: "Chania",class: "img1") %>
      <div class="carousel-caption">
      </div>
    </div>

  
  </div> 

</div>
<br>
<br>
<br>
<div>
<p>Recursion is a coding community of NIT Durgapur which is involved in helping other to begin with competitive programming.Recursion organizes weekly contests in collaboration with
Codechef.</p>
</div>
