
<div class="container">
  <h4>Final year Recursion members:</h4>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mobile No</th>
        <th>Email Id</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Piyush Agarwal</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Gaurav Chandak</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>Dharmesh</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>

  <h4>3rd year Recursion members:</h4>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mobile No</th>
        <th>Email Id</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Aman Agarwal</td>
        <td>7407221299</td>
        <td>aman8050.com</td>
      </tr>
      <tr>
        <td>Saurabh Srivastava</td>
        <td>8609441955</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>Shrija Mishra</td>
        <td>8986909333</td>
        <td>july@example.com</td>
      </tr>
      <tr>
        <td>Sakshi Sarogi</td>
        <td>9831538292</td>
        <td>july@example.com</td>
      </tr>
      <tr>
        <td>Rashmi Mishra</td>
        <td>9332159010</td>
        <td>july@example.com</td>
      </tr>
      <tr>
        <td>Surya Pratap</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
      <tr>
        <td>Parakh Bansal</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>